
.box{
    width: 100px;
    height: 100px;
    transition: margin 1s, border-radius 1s;

}
#redBox{
    background-color: red;
    
}
#blueBox{
    background-color: blue;
}
#greenBox{
    background-color: green;
}
#grayBox{
    background-color: gray;
}
